.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box {
    position: fixed;
    top: 45%;
    transform: rotate(50deg); 
    left: 50%;
    background-color: #015871;
}
  
.wave {
    position: absolute;
    opacity: .4;
    width: 2200px;
    height: 2000px;
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 43%;
    transition: opacity 0.5s ease;
}
  
@keyframes rotate {
    from {
      transform: rotate(180deg);
    }
    from {
      transform: rotate(360deg);
    }
}
  
.wave.-one {
    animation: rotate 10000ms infinite linear;
    opacity: 15%;
    background: #2B6F83;
}
  
.wave.-two {
    animation: rotate 6000ms infinite linear;
    opacity: 15%;
    background: #6AA4B0;
}

.Home{
    padding-top: 12%;
}
  
.Home > h1{
    text-align: center;
}

.wavetext {
    display: flex;
    justify-content: center;
}
  
.word {
    display: flex;
}
  
.space-between {
    display: inline-block;
    width: 20px; 
}

.wavetext span{
    position: relative;
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
  
@keyframes animate {  
    0%{
      transform: translateY(0px);
    }
    20%{
      transform: translateY(-20px);
   }
    40%,100%{
      transform: translateY(0px);
    }      
}
